*.dSYM
*.png
/build
/c/add-markers
/c/batch
/c/demod-fm
/c/demod-fm-streaming
/c/export
/c/fft
/c/fft-batch
/c/fft-batch-broad
/c/fft-stitch
/c/fft-stitch-broad
/c/gridvis
/c/iq-lines
/c/iqvis
/c/iqvis-rtl
/c/piqvis
/c/play
/c/reader
/c/rfcap
/c/sender
/c/single-sample
/c/tv-sender
/c/vis
/c/render-text
/rpi-fdb/iqvis
/rpi-fdb/iqvis_lines
/rust/target
